#body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    /*overflow-x: hidden;*/
    background-color: #000000;
}

#cabecalho{
    background: linear-gradient(to right, #4fdffa, #4c60d8);
    position: fixed;
    width: 100%;
    height: 10vh;
    /*border: 1px solid #f5f5f5;*/
    display: flex;
    justify-content: right; 
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1;
}
#nav-cabecalho{
    /*border: 1px solid #f5f5f5;*/
}
#nav-cabecalho a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
}
#inicio{
    background-color: #000000;
    opacity: 0.5;
}
.img{
    width: 100%;
    height: 100vh;
    background-image: url(PEGGAVISÃO\ app\ -\ LOGO\ OK\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}
.tamCard{
    height: 400px;
    min-height: 250px;
    border-radius: 20%;
    overflow: hidden;
}
#fcontatos{
    border-right: #000000 2px solid;
}
#contatos{
    background: linear-gradient(to right, #4fdffa, #7e90f3);
}
footer{
    background-color: #7eb4f3;
}
/*inicio::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.7;
    background-color: rgb(0, 0, 0);
}
#quem-somos{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    margin: 0px;
}
/*.container{
    width: 65%;
    text-align: center;
}
.container h1{
    font-size: 50px;
}
.container p{
    font-size: 20px;
}*/
/*.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/
.card h2{
    font-size: 30px;
}
@media (max-width: 779px) {
    .img {
        height: 50vh; /* Altura para telas menores */
    }
}